<p id="notice"><%= notice %></p>

<h2 class="text-center">
  <%= @user.email %>


</h2>

<% if @user.directed_offers.blank?%>


    <div class="row text-center" >
      <div class="span12">

        <div class="offset1 span10 offset1"> </br>

          <h3>No hay ofertas</h3>
          <div><p>En este momento no existen ofertas activas para este cliente, <b>sé el primero!</b></p></div>


          <div class="text-center">
            </br></br>

            <%= link_to 'Nueva oferta', offers_directed_offer_path(:user_id => @user.id) , :class => "btn btn-danger btn-large"%>
          </div>


        </div>
      </div>
    </div>
<% else %>


<div class="row-fluid"></br>
  <div class="span12">
    <div class="row-fluid">
      <div class="offset1 span10 offset1">

        <% @user.directed_offers.each do |offer|%>
        <div class="span5 info-block">
          <h3><span class="color-text">Oferta:</span></h3>
          <div class="info-text"><b>Companía: </b><%= offer.company.name%></div>
          <div class="info-text"><b>Detalles: </b><%= offer.description%></div>
          <div class="info-text"><b>Expiración: </b><%= offer.expiration.strftime("%e/%m/%Y %y:%M")%></div>
        </div>
            <% end %>


      </div>
    </div>
    <br>
    <div class="text-center">


      <%= link_to 'Nueva oferta', offers_directed_offer_path(:user_id => @user.id) , :class => "btn btn-danger btn-large"%>
    </div>

    <% end %>

  </div>
</div>

</br>
</br>



