<p id="notice"><%= notice %></p>

<h1 class="text-center text-error">
  Shopping
  <%= @shopping.name %>
</h1>
<!--<h1 class="text-center">Detalles</h1>-->



<div class="row-fluid"></br>
  <div class="span12">
    <div class="row-fluid">
      <div class="offset1 span10 offset1">

       <div class="span7 info-block">
         <h3><span class="color-text">DETALLES:</span></h3>
        <div class="info-text">Aca van los detalles : <%= @shopping.description%></div>
       </div>

        <div class="span2"> <%= image_tag(@shopping.picture_url, :width => 400) if @shopping.picture.present? %></div>

      </div>
    </div>
     <div class="text-center">
    <%= link_to 'Volver', root_path, :class => "btn btn-danger btn-large"%>
     </div>
  </div>
</div>
</br>
</br>

