<p id="notice"><%= notice %></p>

<h1 class="text-center text-error">
  Shopping
  <%= @shopping.name %>
</h1>
<h1 class="text-center">Detalles</h1>



<div class="row-fluid"></br>
  <div class="span12">
    <div class="row-fluid">
      <div class="offset4 span4 offset4">

        <p>Aca van los detalles : <%= @shopping.description%></p>

        <%= form_for @shopping, :html => {:multipart => true} do |f| %>
        <div class="field">
          <%= f.label :Foto %><br />
          <%= f.file_field :picture %>
        </div>

            <%= image_tag(@shopping.picture_url, :width => 600) if @shopping.picture.present? %>

            <%end%>



      </div>
    </div>
  </div>
</div>

