<p id="notice"><%= notice %></p>

<p class="text-center text-error">
  Bienvenido:
  <%= @shopping.name %>
</p>
<h1 class="text-center">¿Qué estás buscando?</h1>
<h2 class="text-center">Hay <%= @companies_count %> locales esperandote</h2>


<div class="row-fluid"></br>
  <div class="span12">
    <div class="row-fluid">
      <div class="offset4 span4 offset4">

        <%= semantic_form_for @user do |f| %>


            <%#= f.input :need, :label =>"Buscar: " %>

            <%= f.input :redirect, :as => :hidden, :value => show_offers_path(@shopping.id) %>
            <%= f.input :keywords, :label => "Filtrar por: ", :as => :check_boxes %>

            </br>

            <%= f.actions do %>
                <%= f.action :submit,  :label => "Ingresar", :html => {:class => "btn btn-danger"} %>
                  </br>
                <%= f.action :cancel, :label => "Cancelar" , :html => {:class => "btn btn-danger"} %>
            <% end %>


        <% end %>

      </div>
    </div>
  </div>
</div>

