<div class="row-fluid text-center"></br>
  <div class="span12">
    <div class="row-fluid">
      <div class="offset3 span6 offset3">

<p id="notice"><%= notice %></p>


<p>

  <b class="text-error">Nombre:</b>
  <%= @shopping.name %>
</p>
<h2>Hay <%=@companies_count%> locales esperandote</h2>

    <h2>Promociones</h2>

        <table class="table table-bordered text-center" >
          <tr class="text-center" >
            <th class="text-center">Nombre</th>
            <th class="text-center">Descripcion</th>
          </tr>

          <% @offers.each do |o| %>
              <tr>
                <td class="text-center"><%= o.company.name %></td>
                <td class="text-center"><%= o.description %></td>
              </tr>

          <% end %>
        </table>


<script type="text/javascript">

    update_offers = function() {

        $.getJSON("http://localhost:3000/shoppings/<%= @shopping.id %>+/offers.json", function(result) {
            $("#offers_list").empty();

            $.each(result, function(elem) {
                $("#offers_list").append("<tr><td>"+result[elem].company.name+"</td><td>"+result[elem].description+"</td></tr>");
            })

            setTimeout(function() {update_offers()}, 5000);
        });

    }

    $().ready(function() {

        setTimeout(function() {update_offers()}, 5000);
    });
</script>

          </div>
    </div>
  </div>
</div>

