<p id="notice"><%= notice %></p>

<p class="text-center text-error">
  Bienvenido:
  <%= @shopping.name %>
</p>
<h1 class="text-center">¿Qué estás buscando?</h1>
<h2 class="text-center">Hay <%= @companies_count %> locales esperandote</h2>


<div class="row-fluid"></br>
  <div class="span12">
    <div class="row-fluid">
      <div class="offset4 span4 offset4">

        <%= form_for @user do |f| %>

            <%= f.label "buscar" %> <br />
            <%= f.text_field :need %>

            <%= f.hidden_field :redirect, :value => show_offers_path(@shopping.id) %>

            <% Keyword.all.each do |keyword| %>
                <%= check_box_tag :keyword_ids, keyword.id, @user.keywords.include?(keyword), :name => 'user[keyword_ids][]' -%>
                <%= label_tag :keywords_ids, keyword.name %>
            <% end %>
            </br>

                <%= f.submit "Ingresar", :class => "btn btn-danger" %>
            <%= link_to "Volver", :back, class: "btn" %>


        <% end %>

      </div>
    </div>
  </div>
</div>

